*.class
# Package Files #
*.jar
*.war
*.ear
*.iml
nbactions.xml
/target/
/common/target/
/persistence-jeeventstore/target/
.idea/
/multitenancy/target/
/persistence-jeeventstore-multitenancy/target/

pom.xml.versionsBackup
pom.xml.releaseBackup
release.properties
